@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
background: #ECF2F9;
}

.shadow{
box-shadow: -2px -2px 2px 0px #B8CCE0, -1px -1px 0px 0px #FFF, -2px -2px 2px 0px #B8CCE0 inset, -1px -1px 0px 0px #FFF inset;
}

.shadowMain{
border-radius: 35px;
background: #ECF2F9;
box-shadow: 10px 10px 10px 0px #B8CCE0, -10px -10px 10px 0px rgba(255, 255, 255, 0.50);
}

.sd{
border-radius: 35px;
background: #ECF2F9;
box-shadow: 10px 10px 10px 0px #C9D9E8, 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
}

.shadowSecond{
border-radius: 32px;
background: #F1F5F9;
box-shadow: -2px -2px 2px 0px #B8CCE0, -1px -1px 0px 0px #FFF, -2px -2px 2px 0px #B8CCE0 inset, -1px -1px 0px 0px #FFF inset;


}
.shadowWhite{
border-radius: 32px;
background: #FEFEFF;
box-shadow: -2px -2px 2px 0px #B8CCE0, -1px -1px 0px 0px #FFF, -2px -2px 2px 0px #B8CCE0 inset, -1px -1px 0px 0px #FFF inset;

}
.shadowThird{
border-radius: 32px;
background: #F1F5F9;
box-shadow: 5px 5px 13px 0px #B8CCE0, -5px -5px 10px 0px rgba(255, 255, 255, 0.90), 5px -5px 10px 0px rgba(184, 204, 224, 0.30), -5px 5px 10px 0px rgba(184, 204, 224, 0.30), -1px -1px 2px 0px #B8CCE0 inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
}

.bg{
background: rgba(255, 255, 255, 0.50);
box-shadow: -2px -2px 2px 0px #B8CCE0, -1px -1px 0px 0px #FFF, -2px -2px 2px 0px #B8CCE0 inset, -1px -1px 0px 0px #FFF inset;
}
.white{
border-radius: 32px;
background: #FFF;
box-shadow: -2px -2px 2px 0px #B8CCE0, -1px -1px 0px 0px #FFF, -2px -2px 2px 0px #B8CCE0 inset, -1px -1px 0px 0px #FFF inset;

}

.input{
border-radius: 32px;
border: 1px solid #B8CCE0;
background: linear-gradient(135deg, #E5E9ED 0%, #FDFFFF 100%);
box-shadow: 5px 5px 13px 0px rgba(217, 220, 221, 0.90), -5px -5px 10px 0px rgba(255, 255, 255, 0.90), 5px -5px 10px 0px rgba(217, 220, 221, 0.20), -5px 5px 10px 0px rgba(217, 220, 221, 0.20), -1px -1px 2px 0px rgba(217, 220, 221, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
}
.fac{
border-radius: 32px;
border: 1px solid #F1F5F9;
background: linear-gradient(135deg, #FFF 0%, #FDFFFF 100%);
box-shadow: 5px 5px 13px 0px rgba(217, 220, 221, 0.90), -5px -5px 10px 0px rgba(255, 255, 255, 0.90), 5px -5px 10px 0px rgba(217, 220, 221, 0.20), -5px 5px 10px 0px rgba(217, 220, 221, 0.20), -1px -1px 2px 0px rgba(217, 220, 221, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
}

.none{
box-shadow: -8px -8px 16px 0px #FFF inset;
filter: drop-shadow(8px 8px 16px #C9D9E8);
}

.mainShadow{
fill: #F1F5F9;
box-shadow: 5px 5px 13px 0px #C9D9E8 inset, -5px -5px 10px 0px rgba(255, 255, 255, 0.90) inset, 5px -5px 10px 0px #C9D9E8 inset, -5px 5px 10px 0px rgba(184, 204, 224, 0.30) inset;
filter: drop-shadow(-1px -1px 2px rgba(184, 204, 224, 0.30)) drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.30));
}

.purple{
border-radius: 20px;
background: #BBB5FF;
box-shadow: -2px -2px 2px 0px #74719E, -1px -1px 0px 0px #D2CEFF, -2px -2px 2px 0px #A9A0F3 inset, -1px -1px 0px 0px #D2CEFF inset;
}
.side{
    border-radius: 35px;
background: #ECF2F9;
box-shadow: 10px 10px 10px 0px #C9D9E8, -10px -10px 10px 0px rgba(255, 255, 255, 0.50);
}

.button{
    border-radius: 32px;
background: #D3D5D8;
box-shadow: 5px 5px 13px 0px #B8CCE0, -5px -5px 10px 0px rgba(255, 255, 255, 0.90), 5px -5px 10px 0px rgba(184, 204, 224, 0.30), -5px 5px 10px 0px rgba(184, 204, 224, 0.30), -1px -1px 2px 0px #B8CCE0 inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
}
.active{
    border-radius: 32px;
border: 1px solid #B8CCE0;
background: #F1F4F4;
box-shadow: 5px 5px 13px 0px rgba(217, 220, 220, 0.90) inset, -5px -5px 10px 0px rgba(255, 255, 255, 0.90) inset, 5px -5px 10px 0px rgba(217, 220, 220, 0.20) inset, -5px 5px 10px 0px rgba(217, 220, 220, 0.20) inset, -1px -1px 2px 0px rgba(217, 220, 220, 0.50), 1px 1px 2px 0px rgba(255, 255, 255, 0.30);
}

.list{
    border-radius: 5px;
background: #F1F5F9;
box-shadow: 1.5px 1.5px 3px 0px #B8CCE0, -1px -1px 3px 0px #FFF;
}

.fil{
    fill: #ECF2F9;
box-shadow: -3px -3px 10px 0px rgba(184, 204, 224, 0.40) inset, 3px 3px 10px 0px rgba(184, 204, 224, 0.26) inset;
}


.filterm{
    border-radius: 32px;
background: #FFF;
box-shadow: 3px 3px 10px 0px #B8CCE0 inset, -3px -3px 10px 0px #C9D9E8 inset;
}
.pur{
    border-radius: 10px;
background: #ECF2F9;
box-shadow: -3px -3px 10px 0px rgba(168, 163, 230, 0.90) inset, 3px 3px 10px 0px #A9A0F3 inset;
}

.modaldiv{
    border-radius: 30px;
background: #F1F4F6;
box-shadow: 5px 5px 13px 0px rgba(217, 220, 221, 0.90) inset, -5px -5px 10px 0px rgba(255, 255, 255, 0.90) inset, 5px -5px 10px 0px rgba(217, 220, 221, 0.20) inset, -5px 5px 10px 0px rgba(217, 220, 221, 0.20) inset, -1px -1px 2px 0px rgba(217, 220, 221, 0.50), 1px 1px 2px 0px rgba(255, 255, 255, 0.30);
}
.but{
    border-radius: 32px;
background: linear-gradient(135deg, #B1A8FF 0%, #A198E7 100%);
box-shadow: 3px 3px 8px 0px rgba(101, 96, 146, 0.90), -3px -3px 6px 0px rgba(237, 224, 255, 0.90), 3px -3px 6px 0px rgba(101, 96, 146, 0.20), -3px 3px 6px 0px rgba(101, 96, 146, 0.20), -1px -1px 2px 0px rgba(101, 96, 146, 0.50) inset, 1px 1px 2px 0px rgba(237, 224, 255, 0.30) inset;
}

.side2{
    background: rgba(255, 255, 255, 0.25);
box-shadow: -2px -2px 2px 0px #B8CCE0, -1px -1px 0px 0px #FFF, -2px -2px 2px 0px #B8CCE0 inset, -1px -1px 0px 0px #FFF inset;
}


.tt{
    border-radius: 32px;
background: #ECF2F9;
box-shadow: -2px -2px 2px 0px #B8CCE0, -1px -1px 0px 0px #FFF, -2px -2px 2px 0px #B8CCE0 inset, -1px -1px 0px 0px #FFF inset;
}